{% extends "network/layout.html" %}

{% block body %}
<h1 class="m-3">All Posts</h1>

{% if request.user.is_authenticated %}
<section class="m-2 p-3 border">
    <h3>New Post</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
        <label class="form-label">Title:</label><br>
        {{ postForm.title }}
        </div>

        <div class="mb-3">
        <label class="form-label">Content:</label><br>
        {{ postForm.content }}
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</section>
{% endif %}


<main class="m-1 p-3">
    <div class="container-fluid mb-3">
        {% for post in page_obj %}
            <div class="mb-3 p-3 border">
                <h3>{{ post.title }}</h3>
                <p>by {{ post.author.username }}</p>
                <p>{{ post.content }}</p>

                {% if request.user.is_authenticated %}
                    <div>
                        <button id="heart-{{ post.id }}" onclick="likeHandler(this)" data-id="{{ post.id }}" class="btn btn-link">❤️</button>
                        <span id="count-{{ post.id }}">{{ post.likes.count }}</span>
                    </div>
                {% else %}
                <p>❤️ {{ post.likes.count }}</p>
                {% endif %}

                <p class="text-muted">{{ post.timestamp }}</p>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        <li class="page-item">
            <span class="page-link">{{ num }}</span>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}

    </ul>
    </nav>

<script>

function likeHandler(button){
    id = button.getAttribute('data-id')

    fetch(`/like/${id}`, {
        method : 'POST',
        headers : {'X-CSRFToken': '{{ csrf_token }}'}
    }).then(response => response.json())
    .then(result => {
        document.querySelector(`#count-${id}`).innerHTML = result.like_count;
        const heart = document.querySelector(`#heart-${id}`);
    })
}

</script>
</main>

{% endblock %}